<div
  class="h-svh flex flex-col items-center justify-center bg-gradient-to-b from-blue-500 to-blue-700 text-white"
>
  <h1 class="text-4xl tracking-tight">
    This is a boilerplate with React and Tailwindcss!!
  </h1>
  <p>
    For the ones that develop with React and Tailwindcss often. This is a quick
    boilerplate to jump start the init process.
  </p>
</div>
